<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjdzy.mapper.FollowMapper">

    <select id="getByUserIdAndFUserId" resultType="com.xjdzy.entity.Follow">
        select * from follow
        where user_id = #{userId}
        and following_user_id = #{fUserId};
    </select>
</mapper>